{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div>
        <h2 id="welcome">Welcome to your portfolio {{ username }}</h2>
    </div>
    <div>
        <table style='margin-top: 30px' class="table table-striped table-light">
            <thead class = "table-head">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Current Price (USD)</th>
                    <th scope="col">Total Value (USD)</th>
                </tr>
                <tbody class="data">
                    {% for symbol, values in user_shares.items() %}
                        <tr>
                            <th scope="row" id="symbol" class="data-row-head"> {{ symbol }} </th>
                            <td class="data-row">{{ values[0] }}</td>
                            <td class="data-row">{{ values[1] }}</td>
                            <td class="data-row">{{ values[2] }}</td>
                            <td class="data-row">{{ values[3] }}</td>
                        </tr>
                    {% endfor %}
                    <tr class='bg-success'>
                        <th scope='row' colspan='4' id="remaining">Remaining Found</th>
                        <td class="data-row">{{ user_cash }}</td>
                    </tr>
                    <tr class='bg-primary'>
                        <th scope='row' colspan='4' id="total">Total Balance</th>
                        <td class="data-row">{{ total }}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
        <div>
            <h4 id="add_cash">If you'd like to add more cash:</h4>
            <form action="/" method="post">
                <div class="form-group">
                    <input required type="number" style="width:120px;" class="form-control" name="add_cash" placeholder="Add Cash" min="1">
                </div>
                <button style='width: 200px' class="form-group btn btn-primary" type="submit">Add Cash</button>
            </form>
        </div>
    </div>
{% endblock %}