{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h3 class="header">Change Password</h3>
    <form action="/password" method="post">
        <div class="mb-0.5">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-0.5">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-0.5">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Password Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}