{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h3 class="header">Transaction History</h3>
    <div>
        <table style='margin-top: 30px' class="table table-striped table-light">
            <thead>
                <tr class="table-head">
                    <th scope="col">Transaction Type</th>
                    <th scope="col">Symbol</th>
                    <th scope="col"> Purchase/Sale Price </th>
                    <th scope="col"> Shares </th>
                    <th scope="col"> Transaction Time (UTC) </th>
                </tr>
                <tbody>
                    {% for row in history %}
                        <tr>
                            <th scope="row" class="data-row-head">
                                {{ "BUY" if row["shares"] > 0 else "SELL"}}
                            </th>
                            <td class="data-row">{{ row["symbol"] }}</td>
                            <td class="data-row">{{ row["shares"] }}</td>
                            <td class="data-row">{{ row["price"] }}</td>
                            <td class="data-row">{{ row["timestamp"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock %}